<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="de2_TranVanLong_0194866.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="de2_TranVanLong_0194866.Properties.Settings.quanlycosodulieuConnectionString"
            connectionString="Data Source=DESKTOP-N3PHCTR;Initial Catalog=quanlycosodulieu;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <de2_TranVanLong_0194866.Properties.Settings>
            <setting name="DangNhap" serializeAs="String">
                <value>False</value>
            </setting>
        </de2_TranVanLong_0194866.Properties.Settings>
    </userSettings>
</configuration>